@{
    ViewData["Title"] = "About";
}

<div class="jumbotron">
    <h1>Grupo N°4</h1>
</div>
<div class="row">



    <!--

    <div class="col-md-4">
        <h2>Acerca de...</h2>
        <p>
            Esta es una aplicación hecha en .NET bajo un patrón de diseño MVC,
            con persistencia en una base de datos SQL Server,
            a través de Entity Framework, haciendo uso de los patrones de acceso a datos Repository y
            Unit of Work.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fuentes</h2>
        <p>
            Podés construír esta aplicación desde cero robando código de Internet (como hicimos nosotros).
            Una de las fuentes consultadas es..
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.1">Este divertido tutorial de Microsoft &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bajátelo!!</h2>
        <p>Te podés bajar este desperdicio de código de GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Grupo4ACS/Tp1">Ver el código fuente &raquo;</a></p>
    </div>

         -->


    <p>
        <strong>Integrado (en orden alfabético) por:</strong>
    </p>
    <ul>
        <li>Gomez Geneiro, Maximiliano Nahuel</li>
        <li>Mansilla, Alberto Gabriel</li>
        <li>Romero, Nicolás Eduardo</li>
        <li>Véntola, Gabriel Agustín.</li>
    </ul>
    


</div>