<!--
@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<!--
<h3>@ViewData["Message"]</h3>
    -->



<div class="col-md-6">

    <h2>Contacto</h2>
    <address>

        Universidad Tecnológica Nacional<br /> 
        Calle Falsa 1234<br /> 
        <abbr title="Phone">Teléfono:</abbr>
        911
    </address>

</div>
<div class="col">
    <h2>Integrantes</h2>
    <p>
        Gómez Geneiro Maximiliano: <a href="mailto:Kraizyn@gmail.com">Kraizyn@gmail.com</a><br />
        Mansilla Alberto Gabriel: <a href="mailto:mansilla.alberto.23@gmail.com">mansilla.alberto.23@gmail.com</a><br />
        Romero Nicolás Eduardo: <a href="mailto:nicoromero3210@gmail.com">nicoromero3210@gmail.com</a><br />
        Véntola Gabriel Agustín: <a href="mailto:tuto.GAV@gmail.com">tuto.GAV@gmail.com</a><br />

        </br>

    </p>
</div>


